@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.footer {
    margin-top: 100px;
    background-color: #f8f9fa;
    padding: 30px 0;
    font-family: "Poppins", sans-serif;
}

.wrapper-footer {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper-footer .row{
    display: flex;
}
.logo-footer{
    font-size: xx-large;
    font-family: "Playfair Display", serif;
    color: #FF7D29;
    border: 1px solid #FF7D29;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    width: fit-content;
    border-radius: 30px;
}
.logo {
    max-width: 100px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #333;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}
.col-4{
    margin-top: 20px;
}