@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.hotel-card {
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
}

.image {
    height: 350px;
    width: 400px;
    border-radius: 10px;
    background-size: cover;
}

.info {
    margin-left: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-family: "Poppins", sans-serif;
}
.info .rating{
    margin: 0;
    width: fit-content;
}
.info p{
    margin-top: 20px;
    width: 500px;
    text-align: justify;
}

.Booknow {
    margin-top: 40px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #FF7D29;
    color: white;
    cursor: pointer;
    align-self: flex-start;
    width: fit-content;
}

.Booknow:hover {
    background-color: #e27024;
}
@media (max-width: 768px) {
    .hotel-card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image{
        width: 350px;
    }
    .hotel-card{
        margin-top: 10px;
    }
    .info{
        max-width: 350px;
    }
    .info p{
        max-width: 350px;
    }
}