* {
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    flex-grow: 1;
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FF7D29;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}